<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="accueil">Le voyageur sans nom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tirage 1 carte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="oneCardWork">Travail</a>
            <a class="dropdown-item" routerLink="oneCardFinance">Finance</a>
            <a class="dropdown-item" routerLink="oneCardLove">Amour</a>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tirage 2 cartes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="twoCardWork">Travail</a>
            <a class="dropdown-item" routerLink="twoCardFinance">Finance</a>
            <a class="dropdown-item" routerLink="twoCardLove">Amour</a>
          </div>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tirage 3 cartes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="threeCardWork">Travail</a>
            <a class="dropdown-item" routerLink="threeCardFinance">Finance</a>
            <a class="dropdown-item" routerLink="threeCardLove">Amour</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="deck">Deck</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Connexion</button>
      </form>
    </div>
  </nav>