<div class="mainBox">   
    <div id="presentationText">
       <p id="text">Bienvenue, dans la catégorie Travail</p>
    </div>
    <div>
       <button type="button" class="btn btn-outline-light" id="btn"
             (click)="getOneCard()">Tirage</button>
    </div>
    <!--<div class="boxCard" id="text">
       <img id="card" img src={{firstCard.photo}} />
       <h2>
          {{firstCard.nom}}
       </h2>
       <p>{{firstCard.description}}</p>
    </div>-->
    <div class="flip-card">
       <div class="flip-card-inner">
          <div class="flip-card-front">
             <h1>dos de la carte</h1>
          </div>
          <div class="">
             <img img src={{firstCard.photo}} />
          </div>
       </div>
    </div>
 </div>
 